html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}
.head{
  text-align: center;
}
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.navbar ul{
  list-style-type: none;
  background-color: rgb(84, 84, 179); 
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar ul li a{
  color: white;
  padding: 13px 60px;
  text-decoration: none;
  display: block;
}
.navbar li  a:hover{
  border-bottom: 1 black;
  background-color: white;
  color: black;
  border-bottom: 3px solid;
} 


footer {
  border-top: 0.8px solid;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(84, 84, 179);
  color: rgb(255, 255, 255);
  text-align: center;
  position: fixed;
  
}
.icon {
  display: flex;
  justify-content: space-between;
  max-width: 100px;
  margin: 0 auto;
  padding: 10px 0;
}
.icon a .fa {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

section{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10%;
}
section .titre{
  color: rgb(66, 66, 207);
  margin-top: 5%;
}

.content .project{
  min-height: 20%;
  max-width: 30%;
  min-width: 30%;
  background-color: rgb(243, 243, 243);
   display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 15px;
}

.content{
  display: flex;
  flex-flow: row wrap;

}
.content .project img{
  height: 200px;
 width: 100%;
}
.content .project .action{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  height:40px;
  color: white;
  background-color: rgba(66, 66, 207, 0.685);
  border-radius:10px;
  width: 70%;
}

.content .project .action a{
  text-decoration: none;
}